.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(180deg, #000532 0%, rgba(22, 26, 56, 0) 100%);
  position: absolute;
  width: 1338px;
  height: 754px;
  left: 102px;
  top: 0px;
  margin-top: 292px;
  margin-left: 234px;
}

.title{
  font-family: Avenir;
  size: 36px;
  line-height: 49.18px;
  text-align: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
