@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

/*PRIMERA SECCION LANDING
*/
.first-Section {
  background: linear-gradient(180deg, #000532 0%, rgba(22, 26, 56, 0) 100%);
  position: absolute;
  width: 1338px;
  height: 754px;
  left: 102px;
  top: 0px;
}

.section-Title{
  margin-top: 292px;
}

.title{
  font-family: Avenir;
  font-size: 36px;
  line-height: 49.18px;
  text-align: center;
  color: white;
}

.subtitle{
  font-family: Avenir;
  font-size: 18px;
  line-height: 24.59px;
  text-align: center;
  color: white;
}

li{
  float: left;
  list-style: none;
  font-family: Nunito Sans;
  font-size: 14px;
  line-height: 19.1px;
  text-align: center;
}

button{
  top: 532px;
  background: #FFFFFF;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: 0px;
  padding: 12px 39px 11px 38px;
  margin-left: 563px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
